<p>reactive-form-group works!</p>

<div class="container">

    <form [formGroup]="userData" (ngSubmit)="onSubmit()">
        <div class="control">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control" [ngClass]="{'border-danger': name?.invalid && !name?.pristine , 'border border-success': name?.valid }">
            <div class = "validation">
                @if (name?.touched && name?.dirty) {
                    @if(name?.getError('required'))
                    {
                        <p class="alert alert-warning"> input required </p>
                    }
                    @if(name?.getError('minlength'))
                    {
                        <p class="alert alert-warning"> input too short </p>
                    }
                    @if(name?.getError('maxlength'))
                    {
                        <p class="alert alert-warning"> input too long </p>
                    }
                    @if(name?.getError('nameNotValid'))
                    {
                        <p class="alert alert-warning"> input must not contain numbers </p>
                    }
                }
            </div>
                

        </div>

        <div class="control">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" class="form-control">
            <div class = "validation">
                @if (email?.touched && email?.dirty) {
                    @if(email?.getError('required'))
                    {
                        <p class="alert alert-warning"> input required </p>
                    }
                    @if(email?.getError('email'))
                    {
                        <p class="alert alert-warning"> input must be a valid email </p>
                    }
                }
            </div>
        </div>

        <div class="control">
            <label for="phone">Phone</label>
            <input type="text" id="phone" formControlName="phone" class="form-control">
            <div class = "validation">
                @if (phone?.touched && phone?.dirty) {
                    @if(phone?.getError('required'))
                    {
                        <p class="alert alert-warning"> input required </p>
                    }
                    @if(phone?.getError('pattern'))
                    {
                        <p class="alert alert-warning"> input must be a valid phone number </p>
                    }
                }
            </div>
        </div>

        <!-- <div class="control">
            <label for="address">Address</label>
            <input type="text" id="address" formControlName="address" class="form-control">
            <div class = "validation">
                @if (address?.touched && address?.dirty) {
                    @if(address?.getError('required'))
                    {
                        <p class="alert alert-warning"> input required </p>
                    }
                    @if(address?.getError('minlength'))
                    {
                        <p class="alert alert-warning"> input too short </p>
                    }
                    @if(address?.getError('maxlength'))
                    {
                        <p class="alert alert-warning"> input too long </p>
                    }
                }
            </div>
        </div> -->

        <div class="child-form" formGroupName ="address">
            <input type="text" id="city" formControlName="city" placeholder="City" class="form-control">
            @if(city?.touched && city?.dirty) {
                @if(city?.getError('required'))
                {
                    <p class="alert alert-warning"> input required </p>
                }
            }
            <input type="text" id="street" formControlName="street" placeholder="Street" class="form-control">
            @if(street?.touched && street?.dirty) {
                @if(street?.getError('required'))
                {
                    <p class="alert alert-warning"> input required </p>
                }
            }

        </div>

        <p> {{userData?.errors | json }}</p>

        <p> {{name?.errors | json }}</p>
        <!-- [disabled]="!userData.valid" -->
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>

</div>
